/*  
// Various other application-specific CSS */
.disabled-record {
    background-color: tan;
}

.heading {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 10px;
}

.textblock {
    margin-right: 20em;
    margin-left: 20em;
    padding: 5px;
    text-align: center;
}

.linkslist {
    margin-right: 20em;
    margin-left: 20em;
    padding: 5px;
    text-align: center;
}

.x-form-awrs-trigger {
    background-image: url(../images/silk/icons/world_link.png) !important;
    background-position: center center !important;
    background-repeat: no-repeat;
}
