[% META title = 'Company Region Details' %]

<script type="text/javascript">
   var url_company_region_load_form = '[% c.uri_for( "/companyregion/load_form" ) %]';
   
   var company_region_id = '[% object.id %]';
</script>

[% js_link( src = '/static/js/grids/company_region_view.js' ) %]

<div id="datagrid"></div>
