[% META title = 'Stillage Planning' %]

<script type="text/javascript">
   var url_object_list      = '[% c.uri_for( "/caskmanagement/list/$festival.id/$category.id" ) %]';
   var url_stillage_list    = '[% c.uri_for( "/stillagelocation/list/$festival.id" ) %]';
   var url_festival_view    = '[% c.uri_for( "/festival/view/$festival.id" ) %]';
   var category_id          = '[% category.id %]';
   var categoryname         = '[% category.description %]';
   var festival_id          = '[% festival.id %]';
   var festivalname         = '[% festival.year | xml %]  [% festival.name | xml %]';

   var default_currency     = '[% default_currency %]';
</script>

[% js_link( src = '/static/js/grids/stillage_planning.js' ) %]

<div id="datagrid"></div>
