[% META title="Access denied" %]

<div id="message-panel">
  <div class="heading"><h1>BeerFestDB: There's been a problem...</h1></div>
  <p class="textblock">
[%- IF !error %]You are not allowed to access this resource.[% END %]
[% IF !c.user %]Please <a href="[% c.uri_for('/login') %]">log in</a> as a user with the appropriate privileges.[% END %]
  </p>
</div>

[% js_link( src = '/static/js/grids/denied.js' ) %]
