[% META title = "Log in to BeerFestDB" %]

<script type="text/javascript">
   var url_login_submit       = '[% c.uri_for( "/login" ) %]';
   var url_success_target     = '[% c.uri_for( "/" ) %]';
</script>

[% js_link( src = '/static/js/grids/login.js' ) %]

<div id="datagrid"></div>
