[% META title = 'Product Characteristic Type Details' %]

<script type="text/javascript">
   var url_product_characteristic_type_load_form = '[% c.uri_for( "/productcharacteristictype/load_form" ) %]';
   var url_product_characteristic_type_grid = '[% c.uri_for( "/productcharacteristictype/grid" ) %]';
   var url_category_view  = '[% c.uri_for( "/productcategory/grid" ) %]';
   
   var product_characteristic_type_id = '[% object.product_characteristic_type_id %]';
</script>

[% js_link( src = '/static/js/grids/product_characteristic_type_view.js' ) %]

<div id="datagrid"></div>
