[% META title = '404 Not Found' %] 

<div><h2>Quoth the server: 404</h2> <p>It looks like you're trying to navigate somewhere you shouldn't.

Maybe you'd like to <a href="[% c.uri_for('/') %]">return to the main page</a> instead?</p></div>
