Dear [% username %],

A password reset has been requested for your BeerFestDB account.

To reset your password, please click the link below (or paste it into
your browser). The link will expire in [% expires %].

  [% reset_url %]

If you did not request a password reset, you can safely ignore this
email. Your password will not be changed unless you follow the link
above and complete the process.

-- 
BeerFestDB
